<div class="fixed-top">
    <nav class="navbar nav-color bg-faded">
        <div class="container text-center">
            <a href="#" class="navbar-brand">
                <img class="logo rounded" src="/assets/logo.png">
            </a>
        </div>
    </nav>
    
    <div class="menu">
        <div class="container">
            <ul class="nav">
                <li class="nav-item">
                    <a href="#" class="nav-link "> Classificação</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link active"> Corridas</a>
                </li>
            </ul>
        </div>
    </div>

</div>

